# Archivos de entorno
.env

# Binarios
bin/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de compilación
dist/

# Archivos de log
*.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias
vendor/

# Archivos de Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de prueba
*_test.go

# Archivos de cobertura
coverage.out
coverage.html
